.navbar {
	width: 100%;
	height: 10vh;
	padding: 1rem 0;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	background-color: #151625;
	z-index: 30;
}

nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 84%;
}

nav .links{
	font-size: 1.2rem;
	font-weight: 300;
	color: var(--gray);
	margin-right: 1rem;
    text-decoration: none;
	transition-duration: 0.1s;
}

nav .links:last-of-type{
	margin-right: 0;
}

nav .links:hover{
	color: var(--light-1);
	transition-duration: 0.4s;
}

