.table{
    background: var(--gradient-1);
    color: var(--light-1);
    border-radius: 0.5rem;
    text-align: center;
    border-collapse: collapse;
    max-width: 85%;
    margin-bottom: 3rem;
}

.table th, .table td{
    padding: 0.8rem;
}

.table tbody tr:nth-child(odd){
    background-color: #ffffff18;
}

.table tbody tr:hover{
    background-color: #ffffff36;
}

